<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Works
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Works</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="assets/works/cmt.jpg"/>
    <ion-card-header>
      <ion-card-title>CheckMyTrip</ion-card-title>
      <ion-card-subtitle>Senior App developer</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      CheckMyTrip is one of the world’s fastest growing travel app communities – helping millions of travelers manage their trips through beautifully organized itineraries, smart mobile tools and destination content.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/works/hd1.png"/>
    <ion-card-header>
      <ion-card-title>Haqdarshak</ion-card-title>
      <ion-card-subtitle>App Architect & Dev</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      HaqDarshak is a platform that helps common man to easily reach Government schemes, those are often confusing and difficult to access. By using a combination of technology and a network of people, HaqDarshak transform how people find out about, apply for, and benefit from, Government schemes.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/works/vdoc.png"/>
    <ion-card-header>
      <ion-card-title>VectorDoc – Complete Health Solution</ion-card-title>
      <ion-card-subtitle>Application Architect & Lead Dev</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      VectorDoc is the intelligent healthcare network to increase the productivity of doctors. Platform for real time messaging and collaboration between doctors, healthcare workers, nurses, pharmacists, labs and hospitals with independent decision support capabilities at every node. Patient version for app available for Doctor booking and health record management.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/works/vdf.png"/>
    <ion-card-header>
      <ion-card-title>Vitamin Deficiency Finder</ion-card-title>
      <ion-card-subtitle>Application Architect & Lead Dev</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      The application can find the deficiencies by matching your specific symptoms and provide corresponding food suggestions. It helps you match your specific symptoms against hundreds of symptoms of deficiency of common vitamins and minerals. Based on a highly optimized interactive verification process, about the presence or absence of related symptoms, application can find if there are possible deficiencies and the relative probability of each of those deficiencies. The app is based on a patent pending innovation related to diagnostics.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="ion-text-center">
      Many more..
    </ion-card-content>
  </ion-card>

</ion-content>
