.card-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    display:block;
    margin:auto;
    max-width: 50%;
}

.text-center {
    display: block;
    text-align: center;
}