<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-wrapper">
    <ion-card>
      <ion-card-header>
        <img id="logo" src="assets/logo.png">
        <ion-card-title>Register</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input [(ngModel)]="user.name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [(ngModel)]="user.email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input [(ngModel)]="user.password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Confirm Password</ion-label>
          <ion-input [(ngModel)]="user.confirm_password" type="password"></ion-input>
        </ion-item>
        <br/>
        <ion-button expand="block" color="warning" (click)="register()">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
